<style>

html { 
	  background: url(https://i.pinimg.com/originals/ff/57/46/ff574650ff3f1415da42ee300e32875c.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.div{
	  background: rgba(0, 0, 0, 0, 7);
	  width: 450px;
	  text-align: center;
	  margin: auto;
	  margin-top:5%;
	  margin-bottom: 5%;
	  margin-left: 5%;
	  margin-right: 5%
	 
	  font-family:'Century Gothic', sans-serif;
	  
	}
</style>
